.login-area {
    max-width: calc(1920px * 0.33);
    flex-grow: 1;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}
.login-form-container .title-container p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
.login-form > div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    position: relative;
}
.login-form > div > label {
    font-size: 1.5em;
    margin-left: 0.2em;
}
.login-form > div > input[type=text],
.login-form > div > input[type=email] {
    border-radius: 15px;
    padding: 0.5em;
    font-size: 1.5em;
    outline: none;
    border: none;
    background-color: var(--page-input-bg-color);
}

.login-form-passwd-container label[for=show-passwd] {
    position: absolute;
    bottom: 0.1em;
    font-size: 1.5em;
    padding: 0.5em 0 0.5em 0.5em;
    height: 1em;
    right: 0.5em;
    text-transform: uppercase;
    visibility: hidden;
    cursor: pointer;
}
.login-form-passwd-container label.fa-eye-slash {
    visibility: hidden;
}
.login-form-passwd-container input:checked ~ label.fa-eye-slash {
    visibility: visible;
}
.login-form-passwd-container label.fa-eye {
    right: 0.55em;
    visibility: visible;
}
.login-form-passwd-container input:checked ~ label.fa-eye {
    visibility: hidden;
}
.login-form-passwd-container input[type=text] {
    -webkit-text-security: disc;
}
.login-form-passwd-container input:checked ~ input[type=text] {
    -webkit-text-security: initial;
}

.login-form-misc-container {
    flex-direction: row-reverse !important;
    justify-content: space-between;
}

.login-form-remember-me-container {
    font-size: 1.2em;
    user-select: none;
    display: flex;
    align-items: center;
}
.login-form-remember-me-container > * {
    margin: 0.2em;
}
.login-form-remember-me-container label {
    cursor: pointer;
}
.login-form-remember-me-container input {
    display: none;
}
.login-form-remember-me-container .fa-check-square {
    display: none;
    font-size: 1.5em;
    color: var(--page-input-bg-color);
    filter: invert(1);
}
.login-form-remember-me-container input[type=checkbox]:checked ~ label.fa-check-square {
    display: initial;
}
.login-form-remember-me-container .fa-square {
    display: initial;
    font-size: 1.5em;
    color: var(--page-input-bg-color);
}
.login-form-remember-me-container input[type=checkbox]:checked ~ label.fa-square {
    display: none;
}

.login-form-submit-container {
    justify-content: center;
    flex-direction: row !important;
}
.login-form-submit-container button {
    width: 80%;
    border-radius: 5px;
    background-color: var(--page-button-alt-bg-color);
    border: none;
    cursor: pointer;
}
.login-form-submit-container button span {
    margin: 0.3em 0.1em;
    font-size: 2em;
    color: var(--page-button-alt-text-color);
}

.login-form-forgot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-no-account-container {
    flex-direction: row !important;
    justify-content: center;
}
.login-form-no-account-container > * {
    margin: 0.5em;
}