.offer-area {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}
.offer-container {
    flex-grow: 7;
    min-height: 40em;
    position: relative;
}
.offer-container img {
    object-fit: cover;
    width: 800px;
    max-width: 100%;
    height: 20em;
    border-radius: 15px 15px 0 0;
}
.offer-container .description-container {
    margin: 0.5em;
}
.offer-container .description-container .name{
    font-size: 2em;
    font-weight: bold;
}
.offer-container .price-tag-container {
    position: absolute;
    left: 0;
    top: 14em;
}
.offer-container .price-tag-container .price-tag {
    background-color: var(--main-container-bg-color);
    border-radius: 0 15px 15px 0;
    display: flex;
}
.offer-container .price-tag p,
.offer-container .price-tag span {
    font-size: 3em;
    padding: 0.1em 0.2em;
}
.offer-container .price-tag p:after {
    content: "€";
}

.side-container {
    flex-grow: 3;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.offer-buttons-container {
    width: 100%;
}
.offer-buttons-container div {
    margin-bottom: 1em;
}
.offer-buttons-container .button div p {
    padding: 0.5em;
    font-size: 1.5em;
}
.offer-buttons-container .send-message-button div {
    background-color: var(--page-button-alt-bg-color);
    color: var(--page-button-alt-text-color);
}
.offer-buttons-container .send-message-button div p {
    color: inherit;
}

.offer-buttons-container form button {
    border-radius: 5px;
    background-color: var(--page-button-bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    width: 100%;
}

.offer-area .profile-container {
    display: flex;
    margin-bottom: 1em;
}
.offer-area .profile-container a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.offer-area .profile-container .profile-image-container {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5em 0 0.5em 0.5em;
}
.offer-area .profile-container img {
    height: 100%;
    object-fit: cover;
    /* filter: invert(var(--filter-bright)); */
    flex-grow: 1;
}
.offer-area .profile-container > div {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: center;
}
.offer-area .profile-container > div > * {
    padding: 0.2em;
}

.offer-area .attribute-list {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.offer-area .attribute-list div {
    margin: 1em 1em 0;
}
.offer-area .attribute-item p {
    margin-bottom: 0.5em;
}
.offer-area .attribute-item:first-of-type {
   flex-grow: 1;
}
.offer-area .attribute-item:last-of-type {
    text-align: right;
    font-size: 0.8em;
}
.offer-area .attribute-item:last-of-type p {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.offer-area .attribute-item:last-of-type p strong {
    margin-left: 0.25em;
}

.offer-interactions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.offer-interactions-container button ~ label {
    border-radius: 5px;
    background-color: var(--page-button-bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    padding: 0.5em 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}
.offer-interactions-container button ~ label:hover {
    filter: brightness(0.9);
}

.offer-interactions-container [for=submit-delete] {
    background-color: var(--page-button-danger-bg-color);
    color: var(--page-button-danger-text-color);
}
.offer-interactions-container [for=submit-report] {
    background-color: var(--page-button-report-bg-color);
    color: var(--page-button-report-text-color);
}
.offer-interactions-container label[for=submit-report] {
    padding: 0.5em 0.4em;
}

.map-container {
    display: flex;
    flex-direction: column;
}
.map-container .map-text-container {
    margin: 1em;
    display: flex;
    align-items: baseline;
}
.map-container .map-text-container p {
    margin-left: 0.25em;
}
.map-container .map-text-container h3 {
    margin: 0;
    padding: 0;
}
.map-container #map {
    height: 300px;
    flex-grow: 1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

@media (max-width: 600px) {
    .offer-area {
        flex-direction: column;
    }

    .offer-container {
        min-height: 25em;
    }
    .offer-container img {
        height: 10em;
    }
    .offer-container .price-tag-container {
        top: 6em;
    }
    .offer-container .price-tag p {
        font-size: 2em;
    }

    .side-container {
        margin-top: 1em;
        margin-left: 0;
    }
    .offer-area .attribute-list {
        min-height: 20em;
    }

    .offer-interactions-container {
        margin-bottom: 1em;
    }

    .map-container .map-text-container {
        flex-direction: column;
    }
}