/* styles for whole page */
body {
    margin: 0 auto;
    background-color: var(--page-bg-color);
}
p, h1, h2, h3, h4, h5, h6, i {
    font-family: sans-serif;
    color: var(--page-p-color);
}
p {
    margin: 0;
}
.button div {
    border-radius: 5px;
    background-color: var(--page-button-bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
.button div:hover {
    filter: brightness(0.9);
}
.button, .button p {
    text-decoration: none;
    text-align: center;
}
.title-container {
    width: 100%;
}
.title-container p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em 0.5em 0.5em;
}
.card {
    background-color: var(--main-container-bg-color);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
}
.main-area > a {
    text-decoration: none;
}
select {
    font-size: 1em;
    width: calc(1920px / 8);
    padding: 5px;
    margin: 5px;
    background-color: var(--nav-search-color);
    color: var(--nav-search-text-color);
    border: none;
}

