.profile-area {
    display: flex;
    flex-direction: column;
}

.profile-container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.profile-image {
    display: flex;
    justify-content: center;
}
.profile-image img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin: 2em;
}
.profile-image img[src$=svg] {
    filter: invert(var(--filter-bright));
}

.profile-display-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin: 0.5em 0.5em 2em;
}

.user-rating {
    margin-bottom: 2em;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-button-container button {
    padding: 0.5em;
    font-size: 1.5em;
    background-color: var(--page-button-bg-color);
    margin: 0 1em 1em;
}
.profile-button-container button.send-message-button {
    background-color: var(--page-button-alt-bg-color);
    color: var(--page-button-alt-text-color);
}

.profile-addon-button-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: calc(2em + 15px + 5px);
    bottom: 2em;
    z-index: 1;
}
.profile-addon-button-container label {
    border-radius: 0 0 5px 5px;
    background-color: var(--page-button-bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    padding: 0.5em 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}
.profile-addon-button-container label[for=submit-report] {
    background-color: var(--page-button-report-bg-color);
    color: var(--page-button-report-text-color);
}
.profile-addon-button-container label[for=submit-suspend] {
    background-color: var(--page-button-danger-bg-color);
    color: var(--page-button-danger-text-color);
}

.offer-area {
    flex-grow: 1;
}
.offer-area > div {
    margin-top: 4em;
}
.offer-area > div:first-of-type {
    margin-top: 0;
}
.offer-area .title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
}

@media (max-width: 750px) {
    .profile-page {
        flex-direction: column;
    }
}