.reset-password-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 0;
}

.description {
    flex-grow: 1;
}

.reset-mail-form {
    width: 100%;
}
.reset-mail-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
.reset-mail-form input {
    margin-top: 0.5em;
    background-color: var(--nav-search-color);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.25em 1.5em 0.25em 0.5em;
    font-size: 2em;
    flex-grow: 1;
    max-height: 36px;
    margin-bottom: .5em;
}
.reset-mail-form button {
    padding: 0.5em;
    font-size: 1.5em;
    background-color: var(--page-button-alt-bg-color);
    color: var(--page-button-alt-text-color);
}