.filter-options-container {
    display: flex;
    flex-direction: column;
}
.filter-options-container > div {
    display: flex;
    flex-direction: column;
}
.filter-options-container > div > label {
    margin-left: 0.6em;
}