/* color palette */

:root {
    --quite-white: #DDD;
    --filter-bright: 0.9;
    --filter-dark: 0.1;
}

/* dark mode colors */
body {
    --page-bg-color: #222;
    --page-text-color: var(--quite-white);
    --page-button-bg-color: #444;
    --page-button-alt-bg-color: #0074FF;
    --page-button-alt-text-color: white;
    --page-button-danger-bg-color: #D32F2F;
    --page-button-danger-text-color: white;
    --page-button-report-bg-color: #FF9900;
    --page-button-report-text-color: white;
    --page-input-bg-color: #222;
    --page-dropdown-bg-color: #222;
    --page-error-color: #D32F2F;

    --main-container-bg-color: #333;

    --nav-bg-color: #333;
    --nav-a-color: var(--quite-white);
    --nav-search-color: #222;
    --nav-search-text-color: var(--quite-white);
    --nav-search-go-filter: var(--filter-bright);
    --nav-button-bg-color: #444;
    --nav-banner-admin-bg-color: var(--page-error-color);
    --nav-banner-admin-text-color: white;
    --nav-banner-wip-bg-color: #FE6D09;
    --nav-banner-wip-text-color: black;
    --nav-burger-button-color: white;

    --hot-offer-annotation-bg-color: #FE6D09;
    --hot-offer-annotation-color: white;

    --profile-star-highlight-color: yellow;

    --chat-list-bg-color: #252525;
    --chat-contact-bg-color: #333;
    --chat-contact-select-bg-color: #444;
    --chat-unread-messages-bg-color: #CC0000;
    --chat-receive-message-bg-color: #666;
    --chat-send-message-bg-color: #0074FF;

    --footer-bg-color: #111;
    --footer-text-color: var(--quite-white);
    --footer-logo-filter: var(--filter-bright);

    --light-switch-bg-color: #222;
    --light-switch-text-color: #AAA;
}

/* light colors (fry your eyes) */
body.light {
    --page-bg-color: #FEDEAF;
    --page-text-color: #111;
    --page-button-bg-color: #EEE;
    --page-input-bg-color: #BBB;
    --page-button-alt-bg-color: #eaa829;
    --page-button-alt-text-color: black;
    --page-dropdown-bg-color: #BBB;
    --page-error-color: #FF073A;
    --page-button-danger-bg-color: #FF073A;
    --page-button-danger-text-color: var(--page-text-color);
    --page-button-report-bg-color: #ffb129;
    --page-button-report-text-color: var(--page-text-color);

    --nav-bg-color: #222;
    --nav-search-color: #EEE;

    --hot-offer-annotation-bg-color: #0A0A0A;
    --hot-offer-annotation-color: white;

    --main-container-bg-color: #EEE;

    --chat-list-bg-color: #BBB;
    --chat-contact-bg-color: #EEE;
    --chat-contact-select-bg-color: #0074FF;
    --chat-unread-messages-bg-color: #CC0000;
    --chat-receive-message-bg-color: #999;
    --chat-send-message-bg-color: #0074FF;

    --footer-bg-color: #222;

    --light-switch-bg-color: #111;
}