footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-bg-color);
}
footer > div {
    margin: 1em;
}
footer p {
    text-align: center;
}

.footer-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link-container a {
    text-decoration: none;
    margin: 0 1em;
}
.footer-link-container a:hover {
    text-decoration: underline;
}

.footer-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-copyright-container * {
    margin: 0.2em;
}
.footer-copyright-container img {
    height: 2em;
    filter: invert(var(--footer-logo-filter));
}
.footer-copyright-container .copyright {
    font-size: 1.0em;
}
.footer-copyright-container .designed-for {
    font-size: 0.6em;
}
.footer-copyright-container .designed-by {
    font-size: 0.7em;
}
.footer-copyright-container .designed-by a {
    text-decoration: none;
}