footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-bg-color);
    position: relative;
    color: var(--footer-text-color);
}
footer * {
    color: inherit;
}
footer > div {
    margin: 1em;
}
footer p {
    text-align: center;
}

.footer-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link-container a {
    text-decoration: none;
    margin: 0 1em;
}
.footer-link-container a:hover {
    text-decoration: underline;
}

.footer-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-copyright-container * {
    margin: 0.2em;
}
.footer-copyright-container img {
    height: 2em;
    filter: invert(var(--footer-logo-filter));
}
.footer-copyright-container .copyright {
    font-size: 1.0em;
}
.footer-copyright-container .designed-for {
    font-size: 0.6em;
}
.footer-copyright-container .designed-by {
    font-size: 0.7em;
}
.footer-copyright-container .designed-by a {
    text-decoration: none;
}

.footer-light-mode-switch-container {
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-light-mode-switch-container button {
    font-size: 2em;
    background-color: var(--light-switch-bg-color);
    color: var(--light-switch-text-color);
    padding: 0.2em;
    min-width: 1.5em;
    min-height: 1.5em;
}

@media (max-width: 600px) {
    .footer-link-container {
        flex-direction: column;
    }
    .footer-link-container > * {
        margin-top: 1em !important;
    }
    .footer-link-container > *:first-of-type {
        margin-top: 0 !important;
    }
}

@media (max-width: 550px) {
    .footer-light-mode-switch-container {
        position: relative;
        align-self: baseline;
    }
}