.offer-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer-list-link {
    text-decoration: none;
    margin: 0.5em 0.5em;
}

.offer-list-item {
    width: 300px;
    height: 250px;
    position: relative;
}
.offer-list-item img {
    object-fit: cover;
    width: 100%;
    height: 65%;
    border-radius: 15px 15px 0 0;
}
.offer-list-item p {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.offer-list-item .name {
    font-size: 1.5em;
    font-weight: bold;
}
.offer-list-item .price-tag-container {
    position: absolute;
    background-color: var(--main-container-bg-color);
    top: 0;
    border-radius: 15px 0 15px 0;
}
.offer-list-item .price-tag {
    font-size: 2em;
    margin: 0.2em;
}
.offer-list-item .price-tag:after {
    content: "\20AC";
}