/* styles for whole page */
body,
body * {
    transition-property: background-color, color;
    transition-duration: .5s;
}
body {
    margin: 0 auto;
    background-color: var(--page-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p,
span,
h1, h2, h3, h4, h5, h6,
i,
a,
input,
textarea,
select,
label,
li {
    font-family: sans-serif;
    color: var(--page-text-color);
}
p {
    margin: 0;
}
.button div, button {
    border-radius: 5px;
    background-color: var(--page-button-bg-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border: none;
    cursor: pointer;
}
.button div:hover, button:hover {
    filter: brightness(0.9);
}
.button, .button p, button span {
    text-decoration: none;
    text-align: center;
}
.title-container {
    width: 100%;
}
.title-container p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em 0.5em 0.5em;
}
.card {
    background-color: var(--main-container-bg-color);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
}
.main-area > a {
    text-decoration: none;
}
select {
    font-size: 1em;
    min-width: 10em;
    padding: 5px;
    margin: 5px;
    background-color: var(--page-input-bg-color);
    border: none;
}
.dropdown-list {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
}
.dropdown-item {
    margin: 0.5em 0.5em 0.5em 0;
}
.dropdown-item-header {
    margin-left: 0.2em;
    margin-bottom: 0.1em;
}
.dropdown-item-select {
    background-color: var(--page-dropdown-bg-color);
    border-radius: 5px;
}
.dropdown-item-select label {
    width: 100%;
}
.dropdown-item-select select {
    width: calc(100% - 0.5em);
}
.dropdown-item-select select:focus {
    outline: none;
}
.dropdown-item-select option:hover {
    background-color: white;
}
.main-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-grow: 1;
}

.main-area {
    max-width: calc(1920px / 2);
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.offer-sold {
    filter: grayscale(1);
}
.offer-sold .price-tag::after {
    content: none !important;
}
.offer-sold .price-tag *::after {
    content: none !important;
}

@media (min-width: 1921px) {
    .main-area {
        max-width: calc(100vw / 2);
    }
}


